
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Faction</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min2.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbo.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Faction</a>
    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/newest">New</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/submitlink">Submit a Link</a></li>
                <li><a href="/newsletter">Newsletter</a></li>
            </ul>
        </div>
    </div>
</nav>


      <div class="jumbotron">
        <h2>About</h2>
        <br>
        <p><font color="red">This site is in alpha, please excuse any bugs.</font></p>
        <br>
        <p><a href="#what-is-faction">What is Faction?</a></p>
        <p><a href="#whos-behind-faction">Who's behind Faction?</a></p>
        <p><a href="#why-just-the-economy">Why just the economy?</a></p>
        <br>
       <a name="what-is-faction"><h2>What is Faction?</h2></a>
       <br>

          <p>The goal of Faction is to highlight economic analysis that is well-reasoned and empirically sound.</p>

          <p>Does the minimum wage increase unemployment? To what degree has trade contributed to U.S. income inequality? How much economic damage will climate change cause this century? </p>

          <p>These questions are tough, but largely empirical. And the amazing thing about the internet is that the best answers we have to questions like these are readily available. Sometimes the answer is "We don't know", and sometimes sifting through the debate requires time or expertise. But the analysis is out there, in blogs, op-eds, academic papers, etc.</p>

          <p>The point of Faction is to try to get more of this analysis together in one place. You shouldn't have to spend all day on Twitter, or read dozens of blogs, to keep up with the most important economic analysis and debates.</p>

          <p>Faction revolves around a social aggregator like Reddit or Hacker News. Users can submit or upvote articles about the economy. The shortcoming of social aggregators is that they reward popularity over quality. Over time, the hope is that Faction will include more features to help determine which analysis is most credible, by highlighting feedback from the community and letting users demonstrate their expertise.</p>

          <a name="whos-behind-faction"><h2>Who’s behind Faction?</h2></a>
          <br>

          <p>So far, <a href="https://twitter.com/wfrick">just me</a>. My name is Walter Frick and I’m a writer and editor, covering mostly economics and business. I'm not a professional developer, but I coded this site myself, so please excuse any bugs.<a href="https://www.linkedin.com/pub/walter-frick/12/b95/412">More about me.</a>

          <a name="why-just-the-economy"><h2>Why just the economy?</h2></a>
          <br>

          <p>It's what I know best, what I cover and follow most closely. Perhaps I'll expand Faction at some point.</p>

</p> 
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
      </div>
     
      
     <div class="footer">
        <p>&copy; Faction 2015</p>
      </div>

    </div>
  </body>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
   </html>